@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url('https://static.imken.moe/fonts/SourceHanSerifSC-VF/main.css');

a:focus,
a:active {
	background: #cc9aa2;
	color: white;
}

.link-hover:hover {
	text-decoration: underline;
}

body {
	font-family: 'Source Han Serif SC VF';
}

article.prose {
	line-height: unset;
	font-size: inherit;
	max-width: unset;
}

article.prose {
	word-wrap: break-word;
	overflow-wrap: break-word;
}

.shiki {
	border: 1px solid #cc9aa2;
	width: 100%;
	overflow-x: auto;
}

.shiki::-webkit-scrollbar {
	height: 5px;
	/* background-color: gray; */
}

.shiki::-webkit-scrollbar-thumb {
	height: 5px;
	background-color: #cc9aa2;
}

