@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url('https://static.imken.moe/fonts/SourceHanSerifSC-VF/main.css');

a:focus,
a:active {
	outline: gainsboro dotted 1px;
}

.link-hover:hover {
	text-decoration: underline;
}

body {
	font-family: 'Source Han Serif SC VF';
}

.shiki {
	border: 1px solid #c9717e;
	width: 100%;
	overflow-x: auto;
}

.shiki::-webkit-scrollbar {
	height: 5px;
}

.shiki::-webkit-scrollbar-thumb {
	height: 5px;
	background-color: #c9717e;
}

.icon {
	display: inline-block;
}

.icon.icon-link::after {
	content: "#";
	margin: 10px;
}

a:focus.icon.icon-link,
a:active.icon.icon-link {
	color: unset !important;
	background-color: unset;
}

::selection {
	background-color: #c9717e34;
}